@font-face {
  font-family: "Amiri";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Amiri-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Amiri Bold";
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/Amiri-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Amiri";
  font-style: italic;
  font-weight: 400;
  src: url(./assets/fonts/Amiri-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Amiri Bold";
  font-style: italic;
  font-weight: 700;
  src: url(./assets/fonts/Amiri-BoldItalic.ttf) format("truetype");
}

